{% extends "base.html" %}
{% block title %}Contact Us{% endblock title %}

{% block header %}
{% load static %}
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <!-- Logo -->
            <a class="navbar-brand" href="/">
                <img src="{% static 'products/coffe.png' %}" alt="Logo" width="50" height="50" class="d-inline-block align-text-top">
                CoffeeShop
            </a>
        </div>
    </nav>
</header>
{% endblock header %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Contact Us</h2>

    <div class="row">
        <div class="col-md-6">
            <h4>We'd love to hear from you!</h4>
            <p>Feel free to reach out to us with any questions, feedback, or just to say hello.</p>
            <ul class="list-unstyled">
                <li><strong>Address:</strong> 123 Coffee Street,Bangalore</li>
                <li><strong>Phone:</strong> +91 93205 62464</li>
                <li><strong>Email:</strong> contact@coffeeshop.com</li>
                <li><strong>Working Hours:</strong> Mon-Sun, 8:00 AM - 8:00 PM</li>
            </ul>
        </div>
        <div class="col-md-6">

        </div>
    </div>
</div>
{% endblock content %}
